html(lang="ru")
    head
        include components/head.pug
    body
        #app
            include blocks/header.pug

        script
            include assets/js/common.js

        include blocks/footer.pug