include components/mixins

doctype html
html(lang="ru-RU")
    include blocks/head
    body
        include components/preloader

        main#app
            include blocks/header
            include blocks/advantages
            include blocks/contacts
            include blocks/footer

        include components/cookieModal
        include components/scripts