doctype html
html(lang="ru")
    head
        include components/head
    body
        main#app
            #manager
                div
                    div.title
                        div
            include blocks/header
            include blocks/advantages
            include blocks/contacts

        include components/scripts
        include blocks/footer
