include components/mixins

doctype html
html(lang="ru-RU")
    include blocks/head
    body
        include blocks/preloader

        main#app
            include blocks/header
            include blocks/advantages
            include blocks/callToAction
            include blocks/contacts
            include blocks/footer

        include blocks/cookieModal
        include blocks/scripts