.cookie_notice
    p.coolie_text
        | Этот сайт использует файлы cookies и сервисы сбора технических данных посетителей (данные
        | об IP-адресе, местоположении и др.) для обеспечения работоспособности и улучшения качества обслуживания.
        | Продолжая использовать наш сайт, вы автоматически соглашаетесь с использованием данных технологий.
    .cookie_controls
        a(class="cookie_btn" id="cookie_close" href="#close") Согласиться
        a(class="cookie_btn" id="cookie_read" href="#politica") Политика конфиденциальности