// Required meta tags
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

// SEO
title Title
meta(name="description" content="")
meta(name="keywords" content="")
meta(name="author" content="mxpoll.ru")
meta(name="copyright" Content="")

// Robots
meta(name="robots" content="Index,follow")

// Info
meta(name="Publisher-Email" Content="")
meta(name="Publisher-URL" Content="")

// Source
link(href="css/style.min.css", rel="stylesheet")

// Open Graph
meta(property="og:title" content="Simple post title")
meta(property="og:type" content="website")
meta(property="og:url" content="http://site.ru/canonicalpage/")
meta(property="og:image" content="https://.site.ru/image.png")