+section('header', 'header', 'bg-light')
    include menu
    .intro
        h1.intro-title Simple Header
        p.intro-subtitle Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        .btn-group
            button.btn.btn-primary Button